export CONSUMER_KEY_1='CONSUMER KEY HERE'
export CONSUMER_SECRET_1='CONSUMER SECRET HERE'
export ACCESS_TOKEN_KEY_1='ACCESS TOKEN KEY HERE'
export ACCESS_TOKEN_SECRET_1='ACCESS TOKEN SECRET HERE'

export CONSUMER_KEY_2='CONSUMER KEY HERE'
export CONSUMER_SECRET_2='CONSUMER SECRET HERE'
export ACCESS_TOKEN_KEY_2='ACCESS TOKEN KEY HERE'
export ACCESS_TOKEN_SECRET_2='ACCESS TOKEN SECRET HERE'
